body {
    background: #000000 url("../img/bgmains.jpg") top left;
    background-attachment: fixed;
}

footer {
    margin-top: 1em;
}

.black-bg {
    background-image: none;
    background: #000000;
    border: 1px #e5e5e5 solid;
}

.banner {
    background: #000000 url("../img/banner2009.jpg") top center no-repeat;
    background-size: cover;
}

.jumbotron {
    background: none;
}

.list-group-item {
    background: #000000;
}


/*
nav li a {
    color: #b4021d; red 
}
*/